html {
    color: rgb(58, 56, 56);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}
.logo {
    font-size: 22px;
    display: inline-block;
}
nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}